html{
    direction: rtl;
}
/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    
}

nav ul li {
    display: inline-block;
    margin-right: 10px;

    
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    
}

.main-section {
    padding: 20px;
    background-color: #fff;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
